# Dependencias
node_modules/
.npm
dist/
build/
.next/

# Variables de Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor (VS Code)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
Thumbs.db
.DS_Store

# Prisma
/Backend/prisma/migrations/
/Backend/prisma/*.db

# Otros
.gemini/
.agent/
brain/
*.log
